* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.top-left {
  position:absolute;
  top: 0;
  left: 50px;
}

.bottom-left {
  position:absolute;
  bottom: 50px;
  left: 50px;
}

.right {
  position:absolute;
  right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 60vh;
}

.right > video {
  margin-top: 10vh;
  width: 600px;
  height: 600px;
}

.right-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* margin-bottom: 30px;   */
}

.right-container > object {
  width: 20vh;
  height: 20vh;
}

.socials {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.socials a {
  margin-left: 20px;
}

.socials a:hover {
  color: #bbb;
}

.socials a img {
  width: 10vh;
  height: 10vh;
}

@media only screen and (max-height: 770px) {
  .right > video {
    margin-top: 10vh;
    width: 400px;
    height: 400px;
  }  
}

@media only screen and (max-height: 900px) {
  .right > video {
    margin-top: 10vh;
    width: 500px;
    height: 500px;
  }  
}